<div class="col-lg-10 col-lg-offset-1">
  <h1 class="text-center">{{messages.title}}</h1>
  <ul class="list-unstyled">
    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, amet, ullam, enim maiores fuga nesciunt molestias porro quae perferendis accusantium adipisci et. Optio at officiis a amet ut facilis rem.</li>
    <li>Sapiente, exercitationem, qui laboriosam facilis nam repellat eaque pariatur deserunt magni doloremque quia fugiat similique debitis enim voluptas minima distinctio voluptatem tenetur optio labore neque temporibus ipsum dicta porro repudiandae?</li>
    <li>Doloribus, libero delectus doloremque debitis quia recusandae tempore optio obcaecati nihil omnis porro temporibus in repudiandae consequatur placeat quos expedita accusamus ipsum odio perferendis ipsam labore ab maxime voluptatum earum.</li>
    <li>Eaque, dolorem ullam beatae molestiae doloribus expedita odit labore quod quas cum dolores voluptatem ipsum non dicta rerum eos natus qui incidunt voluptatum commodi architecto et repellendus repellat ut quae.</li>
  </ul>
</div>
