// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* GENERAL */
body {
	background: image-url('skulls.png');
}


/* LANDING PAGE */
#landing-container {

	h1 {
	  text-align: center;
	  a {
      color: #002244;
			text-decoration: none;
    }  
  }
}


.landing-logo {
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 5%;
}

.image_holder{
  margin-top:35px;
  width:476.7px;
  height:836.8px;
  display:inline;
  background: url('/assets/FAD_mainlayout.jpg');
  background-size: 476.7px 836.8px;
}

.layout_image{
  margin-top:25px;
  width:inherit;
}

.circle_holder{
 }

.circle{
  width:55px;
  height:55px;
  border-radius:55px;
  border:5px solid #3199ba;
}